# Configure environment variables

PAGE_TITLE=Login Check
# https://gsuite-common.appspot.com
## Host name and port for the client web app
#HOST_NAME=gsuite-common.appspot.com
HOST_NAME=0.0.0.0
#PORT=8081
PROTOCOL=http
## The redirect URI is the address where the OIDC provider redirects to the client after login
## NOTE: the redirect_uri must be registered as a callback URL on the OP.
## NOTE: the spec requires using https protocol.
OIDC_REDIRECT_URI=https://gsuite-common.appspot.com/oauth/callback
## NOTE: The post_logout_redirect_uri must also be registered on the OP.
POST_LOGOUT_REDIRECT_URI=https://gsuite-common.appspot.com

## cert and key files for enableing TLS.  Needed since HTTPS is required for callbacks.
## For dev you can generate self signed certs using openssl, e.g.,
## > openssl req -nodes -new -x509 -keyout localhost.key -out localhost.cert
#TLS_KEY_FILE=localhost.key
#TLS_CERT_FILE=localhost.cert

## OIDC Base URI is the address of the OIDC server
OIDC_BASE_URI=https://a-ci.labshare.org/_api/auth/ncats

## OIDC Client ID and Client Secret come from the Admin UI after registering the client.
#OIDC_CLIENT_ID=sampleapp
#OIDC_CLIENT_SECRET=bb5c8e0d-00a2-40ce-9766-64f24032b84c
OIDC_CLIENT_ID=ctsa-login-check
OIDC_CLIENT_SECRET=15594cad-0969-4203-a7fd-f8729d098d5b

