<div
  style="margin:auto; max-width: 600px; border-style:inset; padding: 8px; text-align: center; background-color: aliceblue; font-family: 'Lucida Grande', Helvetica, Arial, sans-serif; font-size: 14px;">
  <img src="/ncats-logo.png" title="NCATS logo" />
  <h1>{{title}}</h1>
  <div style="text-align: left;">
    <p>
      This is a login test page for the Unified NCATS Authentication (UNA) system.
      <br>
      <br>
      To test UNA login with your organization credentials:
    </p>
    <ul>
      <li>
        Click LOGIN below.
      </li>
      <li>
        Type in the search box to find your organization.
      </li>
      <li>Select your organization and log in with your credentials.</li>
      <li>
        After logging in you should see a "success" message.
      </li>
    </ul>
    <hr>
    <i>
      If you have any issues please email us at <a href="mailto:support@ctsa.io">support@ctsa.io</a>.
      <br>
      Include details such as first and last name, institution name, email address, the time of the attempt, and any
      error message you received. A screen capture would also be helpful.
    </i>
    <hr>
    <br>
    <div style="text-align: center;">
      <a href="/login" class="btn">LOGIN</a>
    </div>
  </div>
</div>