<div style="margin:auto; max-width: 600px; border-style:inset; padding: 8px; text-align: center; background-color: aliceblue; font-family: 'Lucida Grande', Helvetica, Arial, sans-serif; font-size: 18px;">
<h1>Success!</h1>
<div style="text-align: left;">
<div> 
  You have successfully logged in as {{user.displayName}}.
  <br>
  <br>
  Thank you for your time. We look forward to working with you.
</div>
  <!--
<ul>
  <li>
    <p>
      View your <a href="/users/profile">profile</a>.
    </p>
  </li>
  <li>
    <p>
      <a href="/logout">logout</a>
    </p>
  </li>
</ul>
-->
    <br>
    <br>
    <div style="text-align: center;">
    <a href="/logout" class="btn">LOGOUT</a>
  </div>
  </div>
</div>
